/*-------------------------- MAIN ---------------------------*/

body {
  font-size: 1.1rem;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.text-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.no-underline {
  text-decoration: none;
}

.text-grey {
  color: #929292;
}

.text-red-bold {
  color: red;
  font-weight: bold;
}

.text-dark-grey-bold {
  color: #838383;
  font-weight: bold;
}

.justify-left {
  margin-left: 15vw;
}

.font-14px {
  font-size: 14px;
}

.cover {
  object-fit: cover;
}

/*---------------VERTICAL BLUE COLUMNS ----------------*/

.toHide {
  background-color: #2f333e;
}

/*----------------- TOP-HEADER --------------------*/

.top-header {
  background-color: #2f333e;
  color: #ffffff;
}
.top-header label {
  color: #bbadad;
}

.logoHeader {
  color: red;
  font-size: 30px;
}

.tableContact {
  width: 100%;
}

.contact {
  float: right;
}

.facebook {
  height: 30px;
}

/*--------------------- HEADER ----------------------*/

.marginHeader {
  margin-top: 15px;
  margin-bottom: 15px;
}

.paddingHeader {
  padding-left: 15px;
  padding-right: 15px;
}
/*-------------------------- NAVABAR ----------------------------*/

nav {
  background-color: #f1f1f1;
  font-size: 15px;
}

.navbar {
  height: 50px;
  padding: 0;
  margin-bottom: 15px;
}

.navbar-nav {
  border: 1px solid rgb(201, 201, 201);
  text-align: center;
}

.nav-link {
  color: rgb(31, 31, 31);
  margin-right: 20px;
}

.nav-link:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

.nav-link-active {
  color: red;
}

.navbar-toggler {
  margin-top: 13px;
}

.nav-link:focus {
  color: black;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  font-size: 1rem;
  height: 180px;
  width: 300px;
  border-radius: 0;
}

.divider {
  border: 1px solid rgb(245, 245, 245);
  height: 1px;
  width: 100%;
}

.text-li-services {
  margin-left: 10px;
  color: rgb(153, 153, 153);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.panel-title {
  padding-top: 15px;
  font-size: 1.2rem;
  height: 50px;
  width: 96%;
  margin: 0, 0, 30px, 0;
  background-color: #f1f1f1;
  border: 1px solid rgb(218, 218, 218);
}

/*----------------------------- END NAVBAR ---------------------------------*/

/*-------------------- BUTTON BACKTOTHETOP ----------------------------*/

#backToTheTop {
  background: transparent;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: none;
  display: none;
}

#upArrow {
  height: 50px;
  width: 50px;
}

/*--------------------HAORAIRES AND MAPS -----------------*/

.p-horaires {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.1rem;
}

.trait {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 140px;
}

.trait2 {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 200px;
}
.trait3 {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 150px;
}

/*------------------------- FOOTER -----------------------*/

.footer {
  background-color: red;
  color: #ffffff;
  height: 130px;
  width: 100%;
}

.bi-telephone-footer {
  color: white;
}

.logo-proxi-cash {
  height: 80px;
}

.p-footer {
  margin-top: 15px;
}

.row-bottom {
  background-color: #2f333e;
  height: 60px;
}

/*------------------BUTTONS CAROUSEL ---------------------*/

#previous,
#next {
  width: auto;
  background-color: #85858544;
}

.catalogue {
  background-color: #f1f1f1;
  border: 1px solid rgb(219, 219, 219);
  width: 94%;
  height: 35px;
}

/*------ catalogue.php ; detailedCar.php ; vehicleList.php ; recherche.php ------*/
.filtres,
.vehicules,
.connect {
  background-color: #f1f1f1;
  border: 1px solid rgb(224, 224, 224);
}

.containerCars {
  background-color: #ffffff;
  display: inline-block;
  max-width: 350px;
  border: 1px solid rgb(180, 180, 180);
  padding: 10px;
  margin: 20px;
}

.detailsCar {
  background-color: rgb(212, 212, 212);
  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgb(177, 177, 177);
}

#rechercher,
#trier {
  width: 130px;
}

#reinitialiserLesFiltres {
  width: 190px;
}

#img-car {
  transition: filter 0.3s;
}

#img-car:hover {
  filter: brightness(55%);
}

/*------------------ cashback.php ---------------------*/

.logo-cashback {
  height: 150px;
}

/*----------------- carRegistration.php -------------------*/

.certificate {
  margin-top: 50px;
  background-color: #f1f1f1;
  border: 1px solid rgb(231, 231, 231);
  max-width: 400px;
}

/*------------ detailedCar.php ; contact.php -------------*/

.btn-form {
  background-color: red;
  color: white;
  border-radius: 0;
}

.btn-form:hover {
  background-color: #bbadad;
  color: white;
}

.detailsCar {
  background-color: #fafafa;
  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgb(197, 197, 197);
}

/*------------------- index.php ; addComment.php --------------------*/

.comment {
  text-decoration: none;
  color: #fafafa;
  background-color: rgb(255, 0, 0);
  width: 230px;
  border-radius: 10px;
}

#nomAddComment {
  max-width: 400px;
}

#noteAddComment {
  width: 100px;
}

#commentaireAddComment {
  height: 200px;
}

/*-------- allServices.php ; accueil_admin.php ----------*/

.allServices-p {
  max-width: 300px;
  margin: auto;
  padding-bottom: 20px;
}

.containerAllServices {
  background-color: #f1f1f1;
}

.imgServices {
  width: 100%;
  height: 300px;
}

/*------------------- whoWeAre.php ---------------------*/

.whoWeAre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.marginLogoGarage {
  margin-left: 45px;
  margin-right: 45px;
}

/* ------------------ MEDIA QUERIES ------------------ */
/*--------------------- MAX WIDTH ------------------*/

@media screen and (max-width: 1400px) {
  .logoCashback {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .toHide {
    display: none;
  }
  .navbar-toggler {
    height: 40px;
    background-color: rgb(255, 0, 0);
    transform: translateY(-8px);
  }
  .navbar-collapse {
    z-index: 1;
  }
  .nav-item {
    background-color: #f1f1f1;
  }
}

@media screen and (max-width: 991px) {
  .top-header {
    display: none;
  }
  .row-bottom {
    display: none;
  }
  #introCarousel {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
  }
  .marginHeader {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .paddingHeader {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 880px) {
  #G-maps {
    width: 340px;
    height: 340px;
  }
  #G-mapsIndex {
    width: 240px;
    height: 240px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    height: auto;
  }
  #G-mapsIndex {
    width: 340px;
    height: 340px;
    margin-left: 60px;
    margin-bottom: 30px;
  }
  .findUsIndex {
    margin-left: 60px;
  }
}

@media screen and (max-width: 698px) {
  .marginLogoGarage {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 647px) {
  .catalogue {
    height: auto;
  }
}

@media screen and (max-width: 460px) {
  .marginLogoGarage {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 440px) {
  .containerCars {
    margin: 0;
    margin-top: 10px;
  }
  #G-mapsIndex {
    width: 240px;
    height: 240px;
  }
}
@media screen and (max-width: 423px) {
  .panelCustomHeight {
    height: 80px;
  }
}
@media screen and (max-width: 400px) {
  #G-maps {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 377px) {
  .imgServices {
    height: 200px;
  }
}

@media screen and (max-width: 360px) {
  #G-maps {
    width: 250px;
    height: 250px;
  }
  #G-mapsIndex {
    width: 220px;
    height: 220px;
  }
}
@media screen and (max-width: 359px) {
  .panelCustomHeightBosch {
    height: 80px;
  }
}
@media screen and (max-width: 335px) {
  .trait2 {
    width: 120px;
  }
  .imgServices {
    height: 150px;
  }
}

/*---------------  MIN WIDTH  ---------------*/

@media screen and (min-width: 991px) {
  .navbar-nav {
    border: none;
  }
}
