body {
  font-size: 1.1rem;
}

.toHide {
  background-color: #2f333e;
}

.top-header {
  background-color: #2f333e;
  color: #ffffff;
}
.top-header label {
  color: #bbadad;
}

.logoHeader {
  color: red;
  font-size: 30px;
}

.tableContact {
  width: 100%;
}

.contact {
  float: right;
}

.facebook {
  height: 30px;
}

/*-------------------------- NAVABAR ----------------------------*/

nav {
  background-color: #f1f1f1;
  font-size: 15px;
}

.navbar {
  height: 50px;
  padding: 0;
  margin-top: 20px;
}

.navbar-nav {
  border: 1px solid rgb(201, 201, 201);
  text-align: center;
}

.nav-link {
  color: rgb(31, 31, 31);
  margin-right: 20px;
}

.nav-link:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

.nav-link-active {
  color: red;
}

.navbar-toggler {
  margin-top: 13px;
}

.nav-link:focus {
  color: black;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  border-top: red;
  font-size: 1rem;
  height: 140px;
  width: 300px;
  border-radius: 0;
}

.divider {
  border: 1px solid rgb(245, 245, 245);
  height: 1px;
  width: 100%;
}

.text-li-services {
  margin-left: 10px;
  color: rgb(153, 153, 153);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.panel-title {
  padding-top: 15px;
  font-size: 1.2rem;
  height: 50px;
  width: 96%;
  margin: 0, 0, 30px, 0;
  background-color: #f1f1f1;
  border: 1px solid rgb(218, 218, 218);
}

/*----------------------------- END NAVBAR ---------------------------------*/

#previous,
#next {
  transform: scale(2);
}

.catalogue {
  background-color: #f1f1f1;
  border: 1px solid rgb(219, 219, 219);
  width: 90%;
  height: 35px;
}

.no-underline {
  text-decoration: none;
}

.text-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.p-horaires {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.1rem;
}

.trait {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 140px;
}

.trait2 {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 200px;
}
.trait3 {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 150px;
}

.footer {
  background-color: red;
  color: #ffffff;
  height: 130px;
  width: 100%;
}

.bi-telephone-footer {
  color: white;
}

.logo-proxi-cash {
  height: 80px;
}

.p-footer {
  margin-top: 15px;
}

.row-bottom {
  background-color: #2f333e;
  height: 60px;
}

.filtres,
.vehicules,
.connect {
  background-color: #f1f1f1;
  border: 1px solid rgb(219, 219, 219);
}

.containerCars {
  background-color: #ffffff;
  display: inline-block;
  max-width: 350px;
  border: 1px solid rgb(180, 180, 180);
  padding: 10px;
  margin: 20px;
}

.detailsCar {
  background-color: rgb(212, 212, 212);
  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgb(177, 177, 177);
}

#rechercher {
  width: 130px;
}

#reinitialiserLesFiltres {
  width: 190px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  font-size: 1.5rem;
  font-weight: bold;
}

.text-grey {
  color: #929292;
}

.text-red-bold {
  color: red;
  font-weight: bold;
}

.logo-cachback {
  height: 150px;
}

.justify-left {
  margin-left: 15vw;
}

.text-dark-grey-bold {
  color: #838383;
  font-weight: bold;
}

.certificate {
  margin-top: 50px;
  background-color: #f1f1f1;
  border: 1px solid rgb(231, 231, 231);
  width: 400px;
}

.font-14px {
  font-size: 14px;
}

.btn-form {
  background-color: red;
  color: white;
  border-radius: 0;
}

.btn-form:hover {
  background-color: #bbadad;
  color: white;
}

.detailsCar {
  background-color: #fafafa;
  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgb(197, 197, 197);
}

.comment {
  text-decoration: none;
  color: #fafafa;
  background-color: rgb(255, 0, 0);
  width: 230px;
  border-radius: 10px;
}

/* -------------------------------- MEDIA QUERIES -------------------------------------- */
/*--------------------------------------------------------------------------------------*/

/*----------------------------------- MAX WIDTH ------------------------------------*/

@media screen and (max-width: 1400px) {
  .logoCashback {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .toHide {
    display: none;
  }
  .navbar-toggler {
    height: 40px;
    background-color: red;
    transform: translateY(-8px);
  }
  .navbar-collapse {
    z-index: 1;
  }
  .nav-item {
    background-color: #f1f1f1;
  }
}

@media screen and (max-width: 991px) {
  .top-header {
    display: none;
  }
  #introCarousel {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  #G-maps {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: 240px;
  }
}

@media screen and (max-width: 648px) {
  .catalogue {
    height: 70px;
  }
}
@media screen and (max-width: 578px) {
  .footer {
    height: 260px;
  }
}

@media screen and (max-width: 440px) {
  .containerCars {
    margin: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 400px) {
  #G-maps {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 377px) {
  .catalogue {
    height: 100px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    height: 320px;
  }
}
@media screen and (max-width: 360px) {
  #G-maps {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 325px) {
  .footer {
    height: 340px;
  }
}

/*---------------------------------  MIN WIDTH  ----------------------------------*/

@media screen and (min-width: 991px) {
  .navbar-nav {
    border: none;
  }
}
