.toHide {
  background-color: rgb(46, 46, 53);
}

body {
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-header {
  background-color: rgb(46, 46, 53);
  color: #ffffff;
}
.top-header label {
  color: #bbadad;
}

.logoHeader {
  color: red;
  font-size: 30px;
}

.tableContact {
  width: 100%;
}

.contact {
  float: right;
}

.facebook {
  height: 30px;
}

nav {
  font-size: 1rem;
  background-color: #f1f1f1;
  height: 60px;
}

.nav-link {
  color: rgb(31, 31, 31);
  margin-right: 20px;
}

.nav-link:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}

.nav-link-active {
  color: red;
}

.catalogue {
  background-color: #f1f1f1;
  border: 1px solid rgb(219, 219, 219);
  width: 90%;
  height: 35px;
}

.no-underline {
  text-decoration: none;
}

.text-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.p-horaires {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.1rem;
}

.trait {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 155px;
}

.trait2 {
  margin-left: 20px;
  border: 1px solid red;
  height: 1px;
  width: 295px;
}

.footer {
  background-color: red;
  color: #ffffff;
  height: 130px;
  width: 100%;
}

.bi-telephone-footer {
  color: white;
}

.logo-proxi-cash {
  height: 80px;
}

.p-footer {
  margin-top: 10px;
}

.row-bottom {
  background-color: rgb(46, 46, 53);
  height: 60px;
}

.filtres {
  background-color: #bbadad;
  border: 1px solid rgb(180, 180, 180);
  height: 120px;
}

.vehicules {
  background-color: #bbadad;
  border: 1px solid rgb(180, 180, 180);
  height: 400px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  font-size: 1.5rem;
  font-weight: bold;
}

.text-grey {
  color: #929292;
}

.text-red-bold {
  color: red;
  font-weight: bold;
}

.logo-cachback {
  height: 150px;
}

/* -------------------------------- MEDIA QUERIES -------------------------------------- */

@media screen and (max-width: 1400px) {
  .logoCashback {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .toHide {
    display: none;
  }
  .navbar-toggler {
    height: 40px;
    background-color: red;
    transform: translateY(-8px);
  }
  .navbar-collapse {
    z-index: 1;
  }
  .nav-item {
    background-color: #f1f1f1;
  }
}

@media screen and (max-width: 992px) {
  .top-header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: 240px;
  }
}

@media screen and (max-width: 648px) {
  .catalogue {
    height: 70px;
  }
}
@media screen and (max-width: 578px) {
  .footer {
    height: 260px;
  }
}

@media screen and (max-width: 377px) {
  .catalogue {
    height: 100px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    height: 320px;
  }
}
@media screen and (max-width: 358px) {
  .trait2 {
    width: 100px;
  }
}
@media screen and (max-width: 325px) {
  .footer {
    height: 340px;
  }
}
